@import "tailwindcss";

:root {
  --background: #f8f8f8;
  --foreground: #000000;
  --grid-color: rgba(83, 83, 83, 0.178);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background-color: var(--background);
  background-image:
    conic-gradient(var(--grid-color) 90deg, transparent 90deg 180deg, var(--grid-color) 180deg 270deg, transparent 270deg);
  background-size: 60px 60px;
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.bg-checkered {
  background-color: #ffffff;
  background-image:
    linear-gradient(45deg, #000 25%, transparent 25%),
    linear-gradient(-45deg, #000 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #000 75%),
    linear-gradient(-45deg, transparent 75%, #000 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}